<div class="container">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <!-- {{ userForm.value | json }} -->
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        #data="ngModel"
        ngModel
        name="email"
      />
      <!-- {{ data.value }} -->
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        ngModel
        name="password"
      />
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{{ userModel | json }}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">password</th>
        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userModel">
        <!-- {{
          user | json
        }} -->
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td>
          {{ user.status }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
